img{
    width: 100%;
}
.container{
    text-align: center;
}
.view-options{
    height: 500px;
    text-align: left;
}
.list-inline-item{
    margin-bottom: 10px;
}
.list-inline{
    padding: 10px 0px;
}
.btn-teste:active{
    background-color: red;
}